#wes {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f1f1f1;

}

.flex{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-between;

}


.item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: white;
    padding: 30px;
    width: 50%;
    margin-top: 50px;
    border-radius: 10px;
    justify-content: space-between;
  }
  
  /* .quantity {
    
  }
   */

  .quantity input {
    width: 40px;
    text-align: center;
  }
  
  .price {
    float: right;
  }
  
  .total {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .like-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .liked {
    color: red;
  }
  

  .delete-btn{
    background-color: transparent;
    cursor: pointer;
    background-color: white;
    color: red;
   display: inline-block;
  }

  